<form name="albumForm" novalidate ng-submit="form.createAlbum(albumForm, album)">
	<script type="text/ng-template" id="error-messages">
		<div ng-message="required">Champ obligatoire</div>
		<div ng-message="minlength">Champ trop court</div>
	</script>
	<div><label>Artiste : <input type="text" name='artiste' ng-model="album.artiste" required ng-minlength="4"></label></div>
	<div ng-messages="albumForm.artiste.$error" ng-if="albumForm.artiste.$touched">
		<div ng-message="minlength">Artist should contain at least 4 letters</div>
		<div ng-messages-include="error-messages"></div>
	</div>
	<div><label>Title : <input type="text" name='title' ng-model="album.title" required></label></div>
	<div ng-messages="albumForm.title.$error" ng-if="albumForm.title.$touched">
		<div ng-messages-include="error-messages"></div>
	</div>
	<div><label>Year : <input type="number" name='year' ng-model="album.year"></label></div>
	<div><label>Format : <select name='format' ng-model="album.format" ng-options="f for f in form.formats"></select></label></div>
	<div><label>Tracks count : <input type="number" name='tracksCount' ng-model="album.tracksCount"></label></div>
	<div><label>Duration : <input type="number" name='duration' ng-model="album.duration"></label></div>
	<div><label>Rating : <input type="number" name='rating' ng-model="album.rating"></label></div>
	<div><label>Description : <input type="text" name='description' ng-model="album.description"></label></div>
	<div><label>Genre : <select name='genre' ng-model="album.genre" ng-options="g for g in form.genres"></select></label></div>
	<div><label>Email : <input type="text" name='emil' ng-model="album.email"></label></div>
	<div><label>Live : <input type="checkbox" name='live' ng-model="album.live"></label></div>
	
	<input type="submit" ng-disabled="albumForm.$invalid">
</form>